# dependencies
node_modules

# testing
coverage

# eslint
.eslintcache

# build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env*
!.env.example

# typescript
*.tsbuildinfo

# playwright
**/playwright/test-results/
**/playwright-report/

# next.js
.next/

# worktrees
.worktrees/
